{
    margin: 0;
    padding: 0;
    box-sizing; border-box;
    font-family: 'Poppins', sans-serif;
}

/*este selecctor universal * selecciona todos los elementos del HTML*/

body {
    background-color: aqua;
}
body > div {
    padding: 3rem;
    background-color: pink;
    border: 4px maroon solid;
}
h1 {
    color: rgb(131, 133, 255);
    text-align: center;
}
h2 {
    color: rgb(226, 255, 158);
    text-align: center;
}